@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.sectionbackindex{

  background-image:url(imagenes/final.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

#scroll-to-top-button {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 99;
  border-radius: 3px;
  background: #ffbb01;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
   }

  a span {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    border: solid black;
    color: white;
    border-width: 1px 1px 0 0; }

  #scroll-to-top-button:hover {
    opacity: 1; }


   .lateral-scroll-media {
    position: fixed;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 2;
    top: 7vw;
    margin: 10px;
  }
  
  .inlineMedia {
    display: grid;
    writing-mode: horizontal-tb;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  
  .arrow-media i {
    font-size: 22px;
    color: white;
  }
  
  .submenu a:hover ,  .iconData:hover {
    color: #ffcc00;
  }


  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    margin-bottom: 20px;
    position: relative; /* Añadido */
  }
  
  .circlescroll {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6A1919;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circlescroll:hover .datascroll2 {
    display: inline-block;
    animation: fadeIn 0.5s forwards;
  }
  
  .circlescroll:hover .datascroll {
    display: inline-block;
    animation: fadeIn 0.5s forwards;
  }
  
  .datascroll,
  .datascroll2,
  .submenu {
    display: none;
    position: absolute;
    background-color: #6A1919;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 500; 
  }
  
  .datascroll {
    bottom: calc(100% + 10px);
    left: calc(100% + 0px);
  }
  
  .datascroll2 {
    bottom: calc(50% - 10px);
    left: calc(95% + 10px);
  }
  
  .submenu {
    top: 0;
    left: 100%;
    width: auto;
    min-width: 300px;
    padding: 5px;
    z-index: 500;
  }
  
  .menu-item:hover .submenu,
  .submenu:hover {
    display: block;
    opacity: 1;
    list-style: none;
    cursor: pointer;
    z-index: 500;
  }
  
  .submenu a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  
  .submenu a:hover {
    background-color: #801818;
    font-size: 13px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }



h1 {
	font-size: 0.9rem;
  color: white;
}

#contpri3 h2 {
	font-size: 3.5rem;
	text-transform: uppercase;
  font-family: "Amatic SC";
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
}

h2 {
	font-size: 3rem;
  letter-spacing: 2px;
	text-transform: uppercase;
  font-family: "Amatic SC";
  color: rgb(75, 12, 12);
}

h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
  color: white;
}
h5 {
	font-size: 1.8rem;
  letter-spacing: 2px;
	text-transform: uppercase;
  font-family: "Amatic SC";
  color: rgb(75, 12, 12);
  text-align: center;
}
h6 {
	font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Amatic SC";
  color: rgb(75, 12, 12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
	font-weight: bold;
}

span {
  font-style:normal;
  font-size: 1.2rem;

}



/* p {
  font-style: italic;
} */

.parraf{
	font-size: 2rem;
	line-height: 1.7em;
	font-weight: bold;
}
/* 
.parraf{
	font-size: 0.9rem;
	line-height: 1.7em;
	font-weight: bold;
} */

#contenedor{  
display:grid;
grid-template-columns: 1fr 1fr 1fr;
align-items:center;
position:fixed;
width: 100%;
height: auto;
text-transform: uppercase;
background-color:/*  rgb(0, 0, 0); */ rgb(75, 12, 12);
border-bottom: 1.5px solid  rgb(255, 255, 255);
opacity: 0.7;
top: 0;
left: 0;
right: 0;
z-index: 1000;
} 


#izquierda{
  display: grid;
  justify-self: left;
  margin-left: 30px;
}

#derecha{
  display: grid;
  justify-self: left;
}

#final{
  display: grid;
  justify-self: end;
}

.menuicon
{
  max-height: 20px;
}

 #svg-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#svg-container svg {
  height: 100%;
}

.lista2, .lista3 {
	display: flex;
}

.lista2 li {
	list-style: none;
	padding: 20px 15px;
}


  .lista2 li a{

	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none;
  color: white;
  
}
/* .lista3 li a {
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none;
  color: white;
  
}

.lista3 li {
	list-style: none;
	padding: 20px 30px;
} */

.lista3 li {
	list-style: none;
  text-align: center;
  padding: 13px;
}

.lista3 li a {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
}

#contenedor2{
  display:grid;
  grid-template-columns: 1fr;
  background-image:url(imagenes/fundacionprincipal.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height:95vh;
  width:100%;
  object-fit: cover;
  padding: 70px;
  align-items: center;
  justify-content: center;
}

.text-separation {
  line-height: 1.6;

}


#contpri3 {
  text-align: center;
  margin-bottom: 50px;
  }

 #derecha ul li a:hover{
  cursor: pointer;
  text-decoration:underline;
  font-size: 1rem;
  background-color: #4b0c0c; 

}

.lista3 i:hover{
	font-size: 1.5rem;
  color: #ffcc00;
}

#quinessomos{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  line-height: 1.5;
  margin-top: 50px;

}

 .top-salt{
  margin: 100px!important;
}


#contUl3 {
  text-align: center;
  padding: 15px;
  }

  #contenedor4{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-image:url(imagenes/cont4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #contUl4 {
    display: grid;
    align-items: left;
    justify-content: left;
    text-align: left;
    column-gap: 25px;
    row-gap: 25px;
    padding: 50px;
    }

 #contUl14, #contUl16  {
  align-self:start;
  justify-self: right;
  }
  
  #contUl24, #contUl26 {
    align-self: end;
  }

.imgcont3{
  width: 200px;
  height: 250px;
}


.pderecha3{
  text-align: right;
  color: rgb(255, 144, 0);
  font-weight: bold;
}

.texto-encima  {
  display: none;
  padding: 10px;
  color: black;
  text-align: left;
}

.txtaparece {
  position: relative;
  width: 100%;
  height: 100%;
}


.txtaparece:hover .texto-encima {
  cursor: pointer;
  display: block;
  position: absolute;
  background-color: #4b0c0c;
  opacity: 0.7;
  bottom: 4px;
  width: 200px;
  height: 250px;
}

#ContU12, #contUl24, #contUl26 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.ant span:hover, .next span:hover {
  color:  #4b0c0c;
  cursor: pointer;
}

#contUl5 {
  text-align: center;
  margin-bottom: 50px;
  }

  #contenedor5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); /* Adjust as needed */
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.divgallery {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.imgdiv5 img {
    width: 40%;
    height: auto;
}
  
  .contimg5 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  
  .imgdiv5 {
    display: grid;
  }
  
  .imgdiv5 img {
    width: 100%;
    height: 150px; /* Altura deseada */
    object-fit: cover;
    border-style: none;
  }


  .imgdiv5 img:hover {
    background-color: #4b0c0c;
    opacity: 0.7;
    cursor: pointer;
  }


  
  .divgallery {
    display: grid;
    padding: 1vw 0 1vw 2vw;
  }

  #servicios{
    display: grid;
    margin-top: 20px;
  }
  
  #contUl6 {
    text-align: center;
    }
    
    #contUl62{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 25px;
      row-gap: 25px;
      margin: 20px;
    }
  
    
    #contenedor9{
      display: grid;
      grid-template-columns: 1fr;
      background-image: url(imagenes/final2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 40vh;
      align-items: center;
      justify-items: center;
      place-items: center;
      padding: 20px;
    }

    #contenedor9 .divgallery h2{
      color: white;
      text-align: center;
      font-size: 2rem;
    }



.diccontfot{
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #4b0c0c;
}

#contacto{
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-rows: 1fr 1fr;
  
}

.diccontent{
  background: /* #4b0c0c */ white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 5vw 0 5vw;
  grid-row: 1/3;
  grid-column: 2/3;
  grid-template-rows: auto 1fr;

}



#izquierda7{
  display: grid;
  grid-template-columns: 1fr;
  overflow:hidden;
  column-gap:10px;
}

#izquierda7 img{
  display: grid;
  height: 100%;
  width: auto;
}

#derecha7{
  display: grid;
  grid-row: 1/3;
  grid-column: 2/3;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  padding-bottom: 20px;
}

.inputcontc{
  color: #4b0c0c;
  background-color: transparent;
  border: 1px solid #4b0c0c;
  height: 20px;
}

.container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

.item {
  margin-right: 20px; /* Espacio entre los elementos */
}


.buttoncontact{
  grid-column: 1/3;
  width: fit-content;
  background-color: unset;
  color: #4b0c0c;
  padding: 0px 30px;
  margin: 10px  10px;
  letter-spacing: 3px;
  border: 1px solid #4b0c0c;
  font-weight: bold;
  height: 25px;
  justify-self: end;
  text-transform: uppercase;
}

.buttoncontact:hover{
  background-color: #ffcc00;
  cursor: pointer;

}

#idFooter{
  background-color: #4b0c0c;
}


#contenedorFooter{
  display: grid;
  grid-template-rows: auto auto 1fr;
}

#content8{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin: 20px;
}



.logofinal{
height: 20px;
}

#contenedor8{
  display:grid;
  grid-template-columns: 1fr;
  column-gap: 5%;
}

#izquierda8{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 1% 5% 1% 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#izquierda8  .footerspan {
  font-size: 1rem;
  color: white;
}

#izquierda8 .footerparref {
  font-size: 0.9rem;
}


.two8, .one8
{   
  display: grid;
  color: white;
  font-style: normal;
  justify-self:end;

}
.two8{
  line-height: 1.6em;
}

.two8 i:hover{
  color: #ffcc00;
  cursor: pointer;
}

.contenedoCap{
  padding: 20px;
}


#contcapc{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* line-height: 1.5; */
}

#contCAP3 {
  text-align: center;
  padding: 15px;
  }

  #contCAP3 h2{
    color: white;
    letter-spacing: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }

  .list-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    text-align: center;
    font-weight: bold;
}

#izquierda9{
  display: grid;
}


#derecha9{
  display: grid;
  justify-self: end;
}

#abajo8{
    display: grid;
    /* grid-template-rows:  1fr 1fr; */
    margin: 1% 5% 0 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    grid-template-columns: 1fr 1fr;
  }


@media (max-width: 500px) {

  .submenu a {
    font-size: 10px;
  }

  .submenu a:hover {
    background-color: #801818;
    font-size: 11px;
  }
  

  #izquierda h1, .lista2 li a{
    font-size: 0.6rem;
    display: block;
    text-align: center;
}


 #contpri3  .parraf , #contpri3  .text-separation{
  font-size: 1.2rem !important;

}

#contpri3  .contprimero {
  font-size: 2rem !important;
}

#contUl3 h2, .divgallery h2, #contenedor4 h2, #contUl6 h2 , #derecha7 h2 {
  font-size: 2rem !important;

}

.divgallery h6 , #derecha7 h6{
  font-size: 1.2rem !important;
}

.contimg5 li{
  font-size: 0.6rem !important;
}

#contCAP3 h2 {
  font-size: 1rem !important;
  letter-spacing: 4px;
  text-align: center;
}


.lateral-scroll-media{
  margin-top: 140px;
  z-index: 2;
}

.imgdiv5{
  height: auto;
 /*  width: 80vw; */
 width:  20vh;
  margin: 20px;
  justify-items: center;
}

.sectionbackindex   {
  height: 10vh;
}

 #contenedor9{
  height: 40vh;
}

.txet-mision{
  padding: 20px !important;
}

}


@media (max-width: 800px) {

 
  
.lateral-scroll-media{
  margin-top: 140px;
}

  .sectionbackindex   {
    height: 16vh;
  }
  
    
      h2 {
    font-size: 2.8rem !important;
  }
  
  h6 {
    font-size: 1.5rem !important;
  }

  h3{
    font-size: 1rem !important;

  }
  
   #contenedor9 .divgallery h2{
    font-size: 1.7rem !important;

  }

  #svg-container{
    display: none;
  }

  #final {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  /* Encabezado */
  #contenedor {
    display: grid;
    grid-template-columns: 1fr;
    top:0;
  }
 
   #izquierda, #derecha, #final{
    display: grid;
    justify-self: center;
  }
  #izquierda{
 
    grid-row: auto; /* Reinicia el posicionamiento vertical */
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    margin-top: 10px; /* Espacio entre los contenedores */
  }

 /*  .lista2 li a{
      font-size: 0.6rem;
  }

  .lista3 li a{
    font-size: 1.2rem;

  } */

 #contUl3{
  margin: 25px;
 }

 #quinessomos{
  margin-bottom: 0px;
 }

 .divgallery {
  display: grid;
  padding: 0vw 0 1vw 0vw;
}

  /* Contenido principal */
  #contenedor2 {
      padding: 0;
    align-items: end;
    justify-content: center;
  }

  #contenedor5, #contenedor4, #servicios, #contenedor9, #contacto {
      padding: 30px 10px;
  }

  #contUl62 {
      grid-template-columns: 1fr;
  }

  .imgdiv5 img{
   height: auto;
   width:  40vw;
    justify-items: center;
  }

  #contCAP3 h2 {
    font-size: 1rem !important;
    letter-spacing: 4px;
    text-align: center;
  }
  
  .contimg5 li{
    font-size: 0.6rem !important;
  }
  

  .diccontent {
      grid-template-columns: 1fr;
  }

  #izquierda7 img {
      width: 100%;
      height: auto;
  }

  #derecha7 {
      grid-template-columns: 1fr;
  }

  .buttoncontact {
      width: 100%;
      margin: 10px 0;
      justify-self: center;
  }

  /* Pie de página */
  #contenedor8 {
      grid-template-columns: 1fr;
      column-gap: 0;
  }

  #izquierda8 {
      grid-template-columns: 1fr;
      gap: 15px;
      margin: 1% 5%;
  }
}